


<div class="container">

	
		
	<% @questions.each do |question| %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
		
				<div>
					<p class="index"><%= link_to question.title, question_path(question) %></p>
				</div>
			<hr>
			
			</div>
		</div>
	<% end %>

</div>

	
