
  

<div class="jumbotron">
  <h1 class="homeh1">Welcome to BIRDI</h1>
  <p class="hometxt">Want to share awesome articles and stuff that's going on in the interwebz, well you can on BIRDI. BIRDI is a simple way to share news and give your opinion on it.</p>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg", role: "button", id: "homebtn" %></p>
</div>


