
  

<div class="jumbotron">
  <h1 class="homeh1">Welcome to BIRDI</h1>
  <p class="hometxt">Want to share awesome articles and stuff that's going on in the interwebz, well you can on BIRDI. BIRDI is a simple way to share news and give your opinion on it.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" id="homebtn">Sign up</a></p>
</div>


