<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<% flash.each do |namee, message| %>
			<div class='alert alert-<%="#{namee}"%>'>
				<a href="#" class="close" data-dismiss="alert">&#215;</a>
				<%= content_tag :div, message, :id => "flash_#{namee}" %>
			</div>
		<% end %>
	</div>
</div>